.box-container {
  display: flex;
}

.box {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  background: rgba(255, 255, 0, 0.7);

  /* transition 적용할 CSS 속성 범위 */
  transition-property: all;
  /* transition 총 길이 */
  transition-duration: 1s;
  /* transition 리듬감 */
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  /* transition 적용시점 딜레이 */
  transition-delay: 1s;

  /* transition 단축설정 */
  transition: all 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.5s;
}
.box:hover {
  transform: scale(2);
}
