@charset 'utf-8';

/* ν”„λ΅μ νΈ μ΄κΈ° μ…‹ μ„¤μ • */
html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}
body {
  overflow-x: hidden;
  color: rgb(29, 29, 31);
  letter-spacing: -0.05em; /* κΈ€μκ°„ κ°„κ²© */
  background: white;
}
p {
  line-height: 1.6; /* λ¬Έλ‹¨ ν–‰κ°„ κ°„κ²© */
}
a {
  text-decoration: none;
  color: rgb(29, 29, 31);
}

/* λ³Έκ²©μ μΈ λ””μμΈ */

/* π”µ global & Local Nav Layout, Design */
.global-nav {
  height: 44px;
}
.local-nav {
  height: 52px;
}
.global-nav-links,
.local-nav-links {
  display: flex;
  align-items: center;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}
.global-nav-links {
  justify-content: space-between;
}

/* κ°™μ€ λ¶€λ¨ λ‚΄μ—, νΉμ • μ”μ†λ§ λ‹¤λ¥Έ CSS(ν„μ¬, font-size)μ μ© μ‹, CSS μ°μ„ μμ„ κ³ λ ¤ν•  κ²ƒ */
.local-nav-links a {
  font-size: 0.8em;
}
.local-nav-links .product-name {
  margin-right: auto;
  font-size: 1.5em;
  font-weight: bold;
}

/* π” μ„ νƒμ:not(μ μ™Έν•  κ²ƒ) = μ μ™Έν•  κ²ƒμ„ μ μ™Έν• λ‚λ¨Έμ§€λ§ μ μ© */
.local-nav-links a:not(.product-name) {
  margin-left: 2em;
}
